{% load bootstrap4 %}
{% load static %}

{% block styles %}
 {% bootstrap_css %}
 <link rel="stylesheet" href="{% static 'css/index.css' %}">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
{% endblock %}
<div class="container-fluid" style="background-image: url(/myservices/static/images/profile.jpg);">
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card" style="margin-top:7%;padding-left: 10%;border-radius:1%;">
      <h3 style="font-family: 'Metal Mania', cursive; text-align: center; color: rgb(6, 117, 6);">iGrocer Online Store</h3>
    <form class="card-body" method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey"></small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit" style="background-color: green; color: white;">Sign up</button>
      <div>
        <p>Already have an account? <a class='btn btn-default btn-sm' href="/accounts/login" style="background-color: blue; color: white;" >Login</a></p>
      </div>
    </form>
  </div>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>
