<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Footer -->
<footer class="page-footer font-medium green">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">ABOUT US</h5>
                <p><span>i</span>Grocer</p>
                <p>We ensure you get your groceries conviniently and provide you with efficient planning and budgeting tools</p>
                

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">LINKS</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="{% url 'home' %}">HOME</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="{% url 'cart' %}">CART</a>
                        </p>
                    </li>
                    <li>
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CATEGORIES
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#" style="color: green;">Fruits</a>
                                <a class="dropdown-item" href="#" style="color: green;">Vegetables</a>
                                <a class="dropdown-item" href="#" style="color: green;">Herbs and Spices</a>
                                <a class="dropdown-item" href="#" style="color: green;">Cereals</a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">CONTACT US</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> igrocer@gmail.com</p>
                    </li>
                    
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 254719657770

                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">FOLLOW US</h5>

                <!-- Facebook -->
                <a type="button" style="padding-right: 15px ;" class="btn-floating btn-fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <!-- Twitter -->
                <a type="button" style="padding-right: 15px ;" class="btn-floating btn-tw">
                    <i class="fab fa-twitter"></i>
                </a>
                <!-- Google +-->
                <a type="button" style="padding-right: 15px ;" class="btn-floating btn-gplus">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <!-- Dribbble -->
                <a type="button" style="padding-right: 5px ;" class="btn-floating btn-dribbble">
                    <i class="fab fa-dribbble"></i>
                </a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> iGrocer</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<!-- Footer -->